@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&display=swap');

$blue--color:#081b29;
$altblue--color: #2e4d5d;

h1{
    font-size: 3.2rem;
}

h2{
    font-size: 2.4rem;
}
h3{
    font-size: 1.9rem;
}
h4{
    font-size: 1.6rem;
}
h5{
    font-size: 1.4rem;
}
h4{
    font-size: 1.2rem;
}
p{
    font: 1.6rem;
}